<!-- views/chat/index.ejs -->

<div class="chat-container">
	<div class="sidebar">
		<h3>Chat</h3>
		<ul class="sidebar-list">
			<li class="sidebar-section">
				<h5 class="toggle-section" data-target="friends-list"
					>Friends</h5
				>
				<ul class="sidebar-items d-none" id="friends-list">
					<% if (chat_friends.length === 0) { %>
					<li class="sidebar-item">No friends</li>
					<% } else { %> <% chat_friends.forEach(friend => { %>
					<li class="sidebar-item">
						<a href="/chat/friends/<%= friend.followed_id %>"
							><%= friend.username %></a
						>
					</li>
					<% }) %> <% } %>
				</ul>
			</li>

			<li class="sidebar-section">
				<h5 class="toggle-section" data-target="rooms-list">Rooms</h5>
				<ul class="sidebar-items d-none" id="rooms-list">
					<% if (chat_rooms.length === 0) { %>
					<li class="sidebar-item">No rooms</li>
					<% } else { %> <% chat_rooms.forEach(room => { %>
					<li class="sidebar-item">
						<a href="/chat/rooms/<%= room.room_id %>"
							><%= room.name %></a
						>
					</li>
					<% }) %> <% } %>
				</ul>
			</li>

			<li class="sidebar-section">
				<h5 class="toggle-section" data-target="projects-list"
					>Projects</h5
				>
				<ul class="sidebar-items d-none" id="projects-list">
					<% if (chat_projects.length === 0) { %>
					<li class="sidebar-item">No projects</li>
					<% } else { %> <% chat_projects.forEach(project => { %>
					<li class="sidebar-item">
						<a href="/chat/tasks/<%= project.id %>"
							><%= project.name %> (<%= project.type %>)</a
						>
					</li>
					<% }) %> <% } %>
				</ul>
			</li>
		</ul>
	</div>

	<div class="chat-window"> </div>
</div>
