<!-- views/chat/index.ejs -->

<div class="chat-container">
	<div class="sidebar">
		<h3>Chat</h3>
		<ul class="sidebar-list">
			<li class="sidebar-section b-border">
				<h5 class="toggle-section" data-target="friends-list"
					>Friends</h5
				>
				<ul class="sidebar-items" id="friends-list">
					<% if (chat_friends.length === 0) { %>
					<li class="sidebar-item">No friends</li>
					<% } else { %> <% chat_friends.forEach(friend => { %>
					<li class="sidebar-item">
						<form method="POST" action="/chat" class="d-inline">
							<input
								type="hidden"
								name="projectName"
								value="chat"
							/>
							<input
								type="hidden"
								name="friend_id"
								value="<%= friend.followed_id %>"
							/>
							<button type="submit" class="btn btn-sub">
								<%= friend.username %>
							</button>
						</form>
					</li>
					<% }) %> <% } %>
				</ul>
			</li>

			<li class="sidebar-section b-border">
				<div class="d-flex justify-content-between">
					<h5 class="toggle-section w-100" data-target="rooms-list"
						>Rooms</h5
					>
					<span
						class="d-flex justify-content-between align-items-center"
						data-target="rooms-list"
					>
						<button
							id="open-room-modal"
							class="btn btn-sm btn-primary"
						>
							<i class="bi bi-plus-lg"></i>
						</button>
					</span>
				</div>
				<ul class="sidebar-items" id="rooms-list">
					<% if (chat_rooms.length === 0) { %>
					<li class="sidebar-item">No rooms</li>
					<% } else { %> <% chat_rooms.forEach(room => { %>
					<li class="sidebar-item">
						<form method="POST" action="/chat" class="d-inline">
							<input
								type="hidden"
								name="projectName"
								value="room"
							/>
							<input
								type="hidden"
								name="room_id"
								value="<%= room.id %>"
							/>
							<button type="submit" class="btn btn-sub">
								<%= room.name %>
							</button>
						</form>
					</li>
					<% }) %> <% } %>
				</ul>
			</li>

			<li class="sidebar-section b-border">
				<h5 class="toggle-section" data-target="projects-list"
					>Projects</h5
				>
				<ul class="sidebar-items" id="projects-list">
					<% if (chat_projects.length === 0) { %>
					<li class="sidebar-item">No projects</li>
					<% } else { %> <% chat_projects.forEach(project => { %>
					<li class="sidebar-item">
						<form method="POST" action="/chat" class="d-inline">
							<input
								type="hidden"
								name="projectName"
								value="taskmanager"
							/>
							<input
								type="hidden"
								name="project_id"
								value="<%= project.id %>"
							/>
							<button type="submit" class="btn btn-sub">
								<%= project.name %>
							</button>
						</form>
					</li>
					<% }) %> <% } %>
				</ul>
			</li>

			<% if (projectName === 'room') { %>
			<li class="sidebar-section b-border">
				<div class="d-flex justify-content-between">
					<h5 class="toggle-section w-100" data-target="room-members"
						>Room Members</h5
					>
					<span
						class="d-flex justify-content-between align-items-center"
						data-target="rooms-list"
					>
						<button
							id="open-members-modal"
							class="btn btn-sm btn-primary"
						>
							<i class="bi bi-plus-lg"></i>
						</button>
					</span>
				</div>

				<ul class="sidebar-items" id="room-members">
					<% room?.roomMembers.forEach(member => { %>
					<li>
						<span
							class="badge <%= member.accepted_at ? 'bg-secondary' : 'bg-warning text-dark border border-secondary' %>"
						>
							<%= member.username %> <% if (!member.accepted_at) {
							%> (Invited) <% } %>
						</span>
					</li>
					<% }) %>
				</ul>
			</li>
			<% } %>
		</ul>
	</div>

	<div class="chat-window">
		<% if (projectName === 'chat') { %> <%- include('partials/friends', {
		friend }) %> <% } else if (projectName === 'room') { %> <%-
		include('partials/rooms', { room }) %> <% } else if (projectName ===
		'taskmanager') { %> <%- include('partials/projects') %> <% } else { %>
		<p>Please select a chat to start messaging.</p>
		<% } %>
	</div>
</div>

<%- include('partials/room-modal') %> <% if (projectName === 'room') { %> <%-
include('partials/room-members-modal', { room, chat_friends }) %> <% } %>

<script src="/socket.io/socket.io.js"></script>
<script>
	window.chatConfig = {
		userId: '<%= user.id %>',
		roomId: '<%= receiverId %>',
		projectName: '<%= projectName %>',
		username: '<%= friend?.username || null %>',
	};
</script>
