<!-- views/taskmanager/board.ejs -->

<div class="container mt-4">
	<h2 class="mb-4 text-center"><%= project.name %></h2>

	<!-- Team Members -->
	<section class="mb-4">
		<h4>Team Members</h4>
		<ul class="list-group">
			<li class="list-group-item">
				<div class="row align-items-center">
					<div class="col-md-4 col-12">
						<strong class="text-primary">
							<%= owner.username %> - owner
						</strong>
					</div>
					<div class="col-md-5 col-12"> <%= owner.email %> </div>
					<% if (userRole === 'owner') { %>
					<div
						class="col-md-3 col-12 text-md-end text-start mt-2 mt-md-0"
					>
						<button
							class="btn btn-danger btn-sm"
							data-bs-toggle="modal"
							data-bs-target="#deleteProjectModal"
						>
							DELETE PROJECT
						</button>
					</div>
					<% } %>
				</div>
			</li>

			<% collaborators.forEach(collaborator => { %>
			<li class="list-group-item">
				<div class="row align-items-center">
					<div class="col-md-4 col-12">
						<%= collaborator.username %> - <%= collaborator.role %>
					</div>
					<div class="col-md-5 col-12">
						<%= collaborator.email %>
					</div>
					<% if (userRole === 'owner') { %>
					<div
						class="col-md-3 col-12 text-md-end text-start mt-2 mt-md-0"
					>
						<button
							class="btn btn-danger btn-sm"
							onclick="removeCollaborator('<%= collaborator.user_id %>', '<%= project.id %>')"
						>
							Remove
						</button>
					</div>
					<% } %>
				</div>
			</li>
			<% }); %>
		</ul>
		<% if (userRole === 'owner') { %>
		<button
			class="btn btn-primary mt-3"
			data-bs-toggle="modal"
			data-bs-target="#addCollaboratorModal"
		>
			Add Collaborator
		</button>
		<% } %>
	</section>

	<!-- Tasks Section -->
	<section>
		<% if (userRole === 'owner' || userRole === 'editor') { %>
		<button
			class="btn btn-primary"
			data-bs-toggle="modal"
			data-bs-target="#taskModal"
		>
			Add Task
		</button>
		<% } %>
		<!-- Task Board -->
		<%- include('./partials/task_board', { tasks }) %>

		<!-- Edit Task Modal -->
		<%- include('./partials/edit_task_modal', {owner}) %>

		<!-- Delete Task Modal -->
		<%- include('./partials/delete_task_modal') %>
	</section>
</div>

<!-- Collaborator Modal -->
<%- include('./partials/collaborator_modal') %>

<!-- Task Modal -->
<%-include('./partials/task_modal', {owner}) %>

<!-- Delete Project Modal -->
<%-include('./partials/delete_project_modal') %>

<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
