<!-- views/projects.ejs -->

<h1 class="text-center mb-4">Projects</h1>

<div class="container">
	<div class="row justify-content-center">
		<% projects.forEach(project => { %>
		<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
			<% if (project.link) { %>
			<a href="<%= project.link %>" class="text-decoration-none">
				<% } %>
				<div class="card project-card h-100">
					<div class="project-image-container">
						<img
							src="/images/index/<%= project.img %>"
							class="card-img-top"
							alt="<%= project.title %>"
						/>
					</div>
					<div class="card-body text-center">
						<h5 class="card-title"><%= project.title %></h5>
						<p class="card-text small text-muted"
							><%= project.description %></p
						>
					</div>
				</div>
				<% if (project.link) { %>
			</a>
			<% } %>
		</div>
		<% }); %>
	</div>
</div>
