<!-- views/partials/friends/blocks.ejs -->

<% if (userFriends.blocks.length > 0) { %> <%
userFriends.blocks.forEach((blocked) => { %>

<li id="<%= blocked.id %>" class="dropdown-item d-flex flex-column gap-2">
	<div>
		<strong><%= blocked.username %></strong>
		(<%= blocked.email %>)
	</div>
	<div class="block-buttons d-flex gap-2">
		<button
			class="btn btn-sm btn-success"
			data-bs-toggle="tooltip"
			title="Unblock"
			onclick="blocksAction('unblock','<%= blocked.id %>')"
		>
			<i class="bi bi-unlock-fill"></i>
		</button>
		<button
			class="btn btn-sm btn-primary"
			data-bs-toggle="tooltip"
			title="Unblock and Follow"
			onclick="blocksAction('unblockFollow','<%= blocked.id %>')"
		>
			<i class="bi bi-person-plus-fill"></i>
		</button>
	</div>
</li>
<% }); %> <% } else { %>
<li class="dropdown-item text-center">No blocked users</li>
<% } %>
