<!-- views/partials/friends/follows.ejs -->

<% if (follows.length > 0) { %> <% follows.forEach(follow => { %>
<li id="follow-<%= follow.id %>" class="dropdown-item d-flex flex-column gap-2">
	<div>
		<strong><%= follow.username %></strong>
		(<%= follow.email %>)
	</div>
	<div class="follow-buttons d-flex gap-2">
		<button
			class="btn btn-sm btn-danger"
			data-bs-toggle="tooltip"
			title="Unfollow"
			onclick="followsAction('unfollow','<%= follow.id %>')"
		>
			<i class="bi bi-person-dash-fill"></i>
		</button>
		<% if (follow.mutual_follow) { %>
		<button
			class="btn btn-sm btn-warning"
			data-bs-toggle="tooltip"
			title="Unfollow Both"
			onclick="followsAction('unfollowBoth','<%= follow.id %>')"
		>
			<i class="bi bi-person-x-fill"></i>
		</button>
		<% } %>
		<button
			class="btn btn-sm btn-dark"
			data-bs-toggle="tooltip"
			title="Block"
			onclick="followsAction('block','<%= follow.id %>')"
		>
			<i class="bi bi-ban"></i>
		</button>
	</div>
</li>
<% }); %> <% } else { %>
<li class="dropdown-item text-center">No follows</li>
<% } %>
