<!-- views/partials/friends/followers.ejs -->

<% if (userFriends.followers.length > 0) { %> <%
userFriends.followers.forEach(follower => { %>
<li
	id="follower-<%= follower.id %>"
	class="dropdown-item d-flex flex-column gap-2"
>
	<div>
		<strong><%= follower.username %></strong>
		(<%= follower.email %>)
	</div>
	<div class="follow-buttons d-flex gap-2">
		<% if (follower.mutual_follow) { %>
		<button
			class="btn btn-sm btn-warning"
			data-bs-toggle="tooltip"
			title="Unfollow Both"
			onclick="followersAction('unfollowBoth','<%= follower.id %>')"
		>
			<i class="bi bi-person-x-fill"></i>
		</button>
		<% } else { %>
		<button
			class="btn btn-sm btn-success"
			data-bs-toggle="tooltip"
			title="Follow Back"
			onclick="followersAction('followBack','<%= follower.id %>')"
		>
			<i class="bi bi-person-check-fill"></i>
		</button>

		<button
			class="btn btn-sm btn-danger"
			data-bs-toggle="tooltip"
			title="Remove"
			onclick="followersAction('unfollowBoth','<%= follower.id %>')"
		>
			<i class="bi bi-person-dash-fill"></i>
		</button>
		<% } %>
		<button
			class="btn btn-sm btn-dark"
			data-bs-toggle="tooltip"
			title="Block"
			onclick="followersAction('block','<%= follower.id %>')"
		>
			<i class="bi bi-ban"></i>
		</button>
	</div>
</li>
<% }); %> <% } else { %>
<li class="dropdown-item text-center">No followers</li>
<% } %>
