<!-- views/taskmanager/partials/project_list.ejs -->

<div class="mb-4">
	<h2>Your Projects</h2>

	<ul class="list-group">
		<% if (ownedProjects.length > 0){ %> <% ownedProjects.forEach(project =>
		{ %>
		<li class="list-group-item">
			<a href="/taskmanager/<%= project.id %>"><%= project.name %></a>
			- Owner
		</li>
		<% })} else {%>
		<li class="list-group-item text-danger">
			You don't have any owned projects
		</li>
		<% } %>
	</ul>
</div>

<div class="mb-4">
	<h2>Collaborated Projects</h2>
	<ul class="list-group">
		<% if (collaboratedProjects.length > 0){ %> <%
		collaboratedProjects.forEach(project => { %>
		<li class="list-group-item">
			<a class="text-bold" href="/taskmanager/<%= project.id %>">
				<%= project.name %>
			</a>
			- <%= project.role.charAt(0).toUpperCase() + project.role.slice(1)
			%> (Owner: <%= project.owner_username %>)
		</li>
		<% })} else { %>
		<li class="list-group-item text-danger">
			You don't collaborate in any projects
		</li>
		<% } %>
	</ul>
</div>
